<div id="checkr1">
  <div id="banner-checkr1">
    <div class="element2">I Am an Applicant</div>
    <div class="element2">API & Docs</div>
    <div class="element2">About Us</div>
    <div class="element2">Careers</div>
  </div>

  <div id="banner-checkr2">
    <div id="header-checkr">
      <%= image_tag "logo-checkr.png", alt: "Logo Checkr", width: 130 %>
      <div><a class="element1 white" href="#">product</a>
        <ul>
          <li class="menu-deroulant">Overview</li>
          <li class="menu-deroulant">Screenings</li>
          <li class="menu-deroulant">Compliance</li>
          <li class="menu-deroulant">Security</li>
        </ul>
      </div>
      <div><a class="element1 white" href="#">staffing</a>
        <ul>
          <li class="menu-deroulant">Overview</li>
        </ul>
      </div>
      <div><a class="element1 white" href="#">industries</a>
        <ul>
          <li class="menu-deroulant">Overview</li>
          <li class="menu-deroulant">Contact Centers</li>
          <li class="menu-deroulant">Retail & Hospitality</li>
          <li class="menu-deroulant">Non Profit</li>
          <li class="menu-deroulant">Manufacturing</li>
          <li class="menu-deroulant">Small Business</li>
          <li class="menu-deroulant">Staffing</li>
          <li class="menu-deroulant">Financial Services</li>
          <li class="menu-deroulant">Healthcare</li>
          <li class="menu-deroulant">On-Demand Economy</li>
          <li class="menu-deroulant">Software & Technology</li>
          <li class="menu-deroulant">P2P Marketplaces</li>
        </ul>
      </div>
      <div class="element1"><a class="element1 white" href="#">ressources</a>
        <ul>
          <li class="menu-deroulant">Overview</li>
          <li class="menu-deroulant">uides & White Papers</li>
          <li class="menu-deroulant">FAQ</li>
        </ul>
      </div>
      <div class="element1 white">compliance
      </div>
    </div>
    <div id="register-checkr">
      <button class="button1 element1 white">Log In</button>
      <button class="button2 element1">Get Started  &rarr;</button>
    </div>
  </div>

  <div id="main-checkr">
    <div id="presentation">
      <h1 class="modif1 white">Hire great people. <br />
        Faster.</h1>
      <p class="standard white">Checkr provides modern and compliant background checks for global enterprises and startups.</p>
      <button class="button-yellow">EXPLORE NOW  &rarr;</button>
    </div>

    <div id="video">
      <video autoplay="" loop="" preload="auto" poster="https://15743-presscdn-0-7-pagely.netdna-ssl.com/wp-content/themes/checkr/assets/video/Checkr_Hero_poster.png" data-setup="{}">
					<source src="https://15743-presscdn-0-7-pagely.netdna-ssl.com/wp-content/themes/checkr/assets/video/Checkr_Hero.mp4" type="video/mp4">
					<source src="https://15743-presscdn-0-7-pagely.netdna-ssl.com/wp-content/themes/checkr/assets/video/Checkr_Hero.webm" type="video/webm">
					<img src="https://15743-presscdn-0-7-pagely.netdna-ssl.com/wp-content/themes/checkr/assets/video/Checkr_Hero_poster.png" height="634" width="606">
			</video>
    </div>
  </div>

  <div id="main-checkr2">
    <h2>More Than 10,000 Businesses Trust Checkr for Their Background Screenings</h2>
    <div class="conteneur-row"
      <%= image_tag "uber.png", alt: "Logo Uber", width: 130 %>
      <%= image_tag "instacart.png", alt: "Logo Instacart", width: 130 %>
      <%= image_tag "grubhub.png", alt: "Logo Grubhub", width: 130 %>
      <%= image_tag "postmates.png", alt: "Logo Postmates", width: 110 %>
      <%= image_tag "zenefits.png", alt: "Logo Zenefits", width: 130 %>
      <%= image_tag "lyft.png", alt: "Logo Lyft", width: 100 %>
    </div>
  </div>

  <div id="main-checkr3">
    <h2>The Next Generation of Background Checks</h2>

    <div class="conteneur-wrap">

      <div class="blocks">
        <p class="center"><%= image_tag "home.svg", alt: "Smartphone", height: 110 %></p>
        <p class="title">Mobile-Friendly</p>
        <p class="text">Create a positive applicant experience with simple, mobile-friendly onboarding.</p>
      </div>

      <div class="blocks">
        <p class="center"><%= image_tag "computer.svg", alt: "Smartphone", height: 110 %></p>
        <p class="title">Mobile-Friendly</p>
        <p class="text">Create a positive applicant experience with simple, mobile-friendly onboarding.</p>
      </div>

      <div class="blocks">
        <p class="center"><%= image_tag "automation.svg", alt: "Gears", height: 110 %></p>
        <p class="title">Convenient Automation</p>
        <p class="text">Reports and violations are categorized to help you remain compliant with individual assessment requirements.</p>
      </div>

      <div class="blocks">
        <p class="center"><%= image_tag "communication.svg", alt: "Bubbles", height: 110 %></p>
        <p class="title">Simplified and Compliant Communication</p>
        <p class="text">Automated compliance tools allow you to send adverse action communications in seconds, directly from your dashboard.</p>
      </div>

      <div class="blocks">
        <p class="center"><%= image_tag "analytics.svg", alt: "Histograms", height: 110 %></p>
        <p class="title">Fast and Accurate</p>
        <p class="text">Understand the profile of your applicants and find the best pool of candidates using integrated analytics and reports.</p>
      </div>
    </div>
  </div>

  <div id="main-checkr2">
    <h2>Tailored to Fit Your Industry’s Needs</h2>
  </div>

    <div id="main-checkr3">
      <h2>Best in Class Compliance and Security</h2>
    </div>

    <div id="main-checkr2">
      <h2>Information for Applicants</h2>
    </div>

    <div id="main-checkr4">
      <h2 class="white">Take a Tour</h2>
    </div>

    <footer>
      <div>
        <p class="element1">Product</p>
        <p class="element2">Overview</p>
        <p class="element2">Screenings</p>
        <p class="element2">Compliance</p>
        <p class="element2">Security</p>
        <p class="element2">API & Docs</p>
      </div>

      <div>
        <p class="element1">Industries</p>
        <p class="element2">Overview</p>
        <p class="element2">Contact Centers</p>
        <p class="element2">Financial Services</p>
        <p class="element2">Retail & Hospitality</p>
        <p class="element2">Healthcare</p>
        <p class="element2">Non-Profit</p>
        <p class="element2">On-Demand Economy</p>
        <p class="element2">Manufacturing</p>
        <p class="element2">Software & Technology</p>
        <p class="element2">Small Business</p>
        <p class="element2">P2P Marketplaces</p>
        <p class="element2">Higher Education</p>
        <p class="element2">Staffing</p>
      </div>

      <div>
        <p class="element1">Resources</p>
        <p class="element2">Overview</p>
        <p class="element2">White Papers</p>
        <p class="element2">FAQ</p>
        <p class="element2">Blog</p>
        <p class="element2">Engineering Blog</p>
      </div>

      <div>
        <p class="element1">Company</p>
        <p class="element2">Partners</p>
        <p class="element2">Partner Lead Portal</p>
        <p class="element2">About Us</p>
        <p class="element2">Careers</p>
        <p class="element2">Press</p>
      </div>

      <div>
        <p class="element1">Connect</p>
        <p class="element2">hello@checkr.com</p>
        <p class="element2">Contact Us</p>
        <p class="element2">Get Started</p>
        <p class="element2">Log In</p>
      </div>
    <footer>
</div>
